<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap core CSS -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->

    <script src = "{{ url_for('static',filename = 'js/jquery-3.3.1.min.js')}}"></script>

     <script src = "{{ url_for('static',filename = 'codemirror-5.44.0/lib/codemirror.js')}}"></script>
     <script src = "{{ url_for('static',filename = 'codemirror-5.44.0/addon/edit/closebrackets.js')}}"></script>
    <script src = "{{ url_for('static',filename = 'codemirror-5.44.0/src/line/highlight.js')}}"></script>
    <link href="{{ url_for('static',filename = 'codemirror-5.44.0/lib/codemirror.css')}}" rel="stylesheet">

    <script src = "{{ url_for('static',filename = 'codemirror-5.44.0/mode/clike/clike.js')}}"></script>
    <script src = "{{ url_for('static',filename = 'codemirror-5.44.0/mode/htmlmixed/htmlmixed.js')}}"></script>
    <script src = "{{ url_for('static',filename = 'codemirror-5.44.0/mode/python/python.js')}}"></script>
    <script src = "{{ url_for('static',filename = 'codemirror-5.44.0/mode/javascript/javascript.js')}}"></script>
    <script src = "{{ url_for('static',filename = 'codemirror-5.44.0/mode/clike/clike.js')}}"></script>


    <link href="{{ url_for('static',filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static',filename = 'js/bootstrap.min.js')}}" ></script>
    <!-- Material Design Bootstrap -->
    <link href="{{ url_for('static',filename = 'css/mdb.min.css')}}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ url_for('static',filename = 'css/style.css')}}" rel="stylesheet">

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/html/html.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/htmlmixed/htmlmixed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/edit/closebrackets.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css"/>

   <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<title>Intelligent Teaching Assistant</title>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body>
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark black lighten-1">
  <a class="navbar-brand" href="#">Intelligent Teaching Assistant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="#">Upload Code
        <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">View Codes</a>
      </li>
      <li class="nav-item">
              <a class="nav-link" href="/profile">View Profile</a>
          </li>

    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">

      <li class="nav-item avatar dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
            <span id="userName" style="color:white">{{username}}</span>
          <img height="30px" width = "30px" src="{{ url_for('static',filename = 'user-white.svg')}}" class="rounded-circle z-depth-0" alt="avatar image">
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-secondary p-3 justify-content-center" aria-labelledby="navbarDropdownMenuLink-55">
            <a class="dropdown-item" href="#">Login Or SignUp</a>
            <input type="email" id="email" class = "form-control my-3"  placeholder="email" onblur="checkUser()"/>
            <input type="password" id="passw" class = "form-control my-3" placeholder="password"/>
            <input type="password" id="confirmpassw" style="display:none" class = "form-control my-3" placeholder="confirm password"/>
            <input type="button" id="loginBtn" class = "dropdown-item form-control dropdown-toggle btn btn-info my-1 mx-1 w-100 text-center" value="LOGIN" onclick="loginRequest()">
            <input type="button" id="logoutBtn" class = "dropdown-item form-control dropdown-toggle btn btn-info my-1 mx-1 w-100 text-center" value="LOGOUT" onclick="logoutRequest()">
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
    <div class="card card-dark m-2">
    <div style="position:relative;border-style:solid;border-color:black;height:80%" class="m-1">
        <textarea onchange="pasted(event)" i class="form-control z-depth-1 prettyprint" id="codeTextArea" onblur="pullTags()"
                  placeholder="Paste Code Here..."></textarea>
    </div>
    <select class="browser-default custom-select m-1 w-25" id="lang_op" onchange="changeLang(event)">
        <option selected value="text/x-csrc">C</option>
        <option value="text/x-c++src">C++</option>
        <option value="python">Python</option>
        <option value="text/x-java">Java</option>
        <option value="text/html">HTML</option>
        <option value="javascript">JavaScript</option>
    </select>
    <input id="codeFile" class="m-1 w-25" onchange="uploaded(event)" type="file" class="input-group-text"/>

    </div>
    <textarea class="form-control rounded-3 w-75 m-2"  required id="description" rows="2" placeholder="File Description" onclick = "pullTags()" ></textarea>
    <input type="button" class="btn btn-elegant" value="submit" id="submitbtn" onclick="saveCode()"/>
<script>

            lang_op = document.getElementById("lang_op");

            myCodeMirror = CodeMirror.fromTextArea(document.getElementById("codeTextArea"), {
               lineNumbers: true,
                mode:  "text/x-csrc",
                styleActiveLine :true,
                matchBrackets: true,
                indentUnit: 4,
                indentWithTabs: true,
                autoCloseTags: true,
                autoCloseBrackets: true,
            });


            function pasted(event)
            {
                if(event.target.value!=null)
                {
                    document.getElementById("codeFile").disabled = true;
                }
                if(document.getElementById("main_comment_holder"))
                {
                    var myNode = document.getElementById("main_comment_holder");
                    while (myNode.firstChild) {
                        myNode.removeChild(myNode.firstChild);
                    }
                    myNode.parentNode.removeChild(myNode);

                }

                if(document.getElementById("tag_holder"))
                {
                    var myNode = document.getElementById("tag_holder");
                    while (myNode.firstChild) {
                        myNode.removeChild(myNode.firstChild);
                    }
                    myNode.parentNode.removeChild(myNode);

                }

            }

            function uploaded(event)
            {
                if(document.getElementById("main_comment_holder"))
                {
                    var myNode = document.getElementById("main_comment_holder");
                    while (myNode.firstChild) {
                        myNode.removeChild(myNode.firstChild);
                    }
                    myNode.parentNode.removeChild(myNode);

                }

                if(document.getElementById("tag_holder"))
                {
                    var myNode = document.getElementById("tag_holder");
                    while (myNode.firstChild) {
                        myNode.removeChild(myNode.firstChild);
                    }
                    myNode.parentNode.removeChild(myNode);

                }
                if(event.target.files!=null)
                {

                    const reader = new FileReader()
                    reader.onload = event => {
                        myCodeMirror.getDoc().setValue(event.target.result);
                        pullTags();
                    }
                    cont  = reader.readAsText(event.target.files[0]);
                    name = event.target.files[0].name.split(".")[1];
                    switch(name)
                    {
                        case "py":
                            lang_op.value = "python";
                            changeLang();
                            break;
                        case "c":
                            lang_op.value = "text/x-csrc";
                            changeLang();
                            break;
                        case "cpp":
                            lang_op.value = "text/x-c++src";
                            changeLang();
                            break;
                        case "html":
                            lang_op.value = "text/html";
                            changeLang();
                            break;
                        case "java":
                            lang_op.value = "text/x-java";
                            changeLang();
                            break;
                        case "js":
                        case "njs":
                            lang_op.value = "javascript";
                            changeLang();
                            break;


                    }
                }
            }

            function changeLang()
            {
                myCodeMirror.setOption("mode",lang_op.value);
            }

            var operation = "signup";

            function loginRequest()
            {
                email = document.getElementById("email").value;
                passw = document.getElementById("passw").value;

                var xhr = new XMLHttpRequest();
                xhr.open("POST","/login");
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function()
                {
                        if(xhr.readyState == 4 && xhr.status == 200 )
                        {
                            if(JSON.parse(xhr.response).auth==true)
                            {
                            //    document.setCookie("username",email);
                               document.getElementById("passw").style.background = "white";
                               document.getElementById("passw").value = "";
                               document.getElementById("confirmpassw").value = "";
                               document.getElementById("email").value = "";
                               document.getElementById("codeTextArea").click();
                               document.getElementById("userName").innerHTML = email.split("@")[0];

                            }
                            else{
                            document.getElementById("passw").style.background = "red";
                            }

                        }
                }
                postvars = "email="+email+"&password="+passw+"&operation="+operation;

                xhr.send(postvars);

            }

            function logoutRequest()
            {
                var xhr = new XMLHttpRequest();
                xhr.open("GET","/logout");
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function()
                {
                        if(xhr.readyState == 4 && xhr.status == 200 )
                        {
                               document.location.reload();
                        }
                }
                xhr.send()
            }

            

            function checkUser()
            {
                email = document.getElementById("email").value;

                var xhr = new XMLHttpRequest();
                xhr.open("POST","/userExists");
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                xhr.onreadystatechange = function()
                {
                        if(xhr.readyState == 4 && xhr.status == 200 )
                        {
                            if(JSON.parse(xhr.response).success>0)
                            {
                                operation = "login";
                                document.getElementById("confirmpassw").style.display = 'none';
                                document.getElementById("loginBtn").setAttribute("value","LOGIN");
                            }
                            else{
                                operation="signup";
                                document.getElementById("confirmpassw").style.display = 'block';
                                document.getElementById("loginBtn").setAttribute("value","SIGN UP");
                            }

                        }
                }
                postvars = "email="+email;

                xhr.send(postvars);
            }

            function saveCode()
            {
                code = myCodeMirror.getDoc().getValue();
                description = document.getElementById("description").value;

                if(code == "" || description == "")
                {
                    alert("Please fill in the code and the description");
                    return;
                }

                //difficulty = document.getElementById("customRange2").value;

                tags_to_use = Array.from(document.getElementsByClassName("btn btn-outline-default waves-effect"));

                console.log(tags_to_use);

                tags_send = tags_to_use.map( (x) => x.innerHTML )

                // extra_tags_ip = document.getElementById("add_inp");
                // extra_tags = extra_tags_ip.split(" ");
                // alert(extra_tags);

                // tags_send.append(extra_tags);
                // alert(tags_send);

                comments_to_use = Array.from(document.getElementsByClassName("comment"));
                comments = comments_to_use.map( (x) => x.value )
                // alert(comments);

                function_to_use = Array.from(document.getElementsByClassName("functionName"));
                if(function_to_use.length > 0)
                {
                    func = function_to_use.map( (x) => x.innerHTML );
                }
                else{
                    func = [""];
                }

                var xhr = new XMLHttpRequest();

                description = document.getElementById("description").value ;

                xhr.open("POST", "http://localhost:5000/putCode", true);
                xhr.setRequestHeader("Content-type", "application/json");

                xhr.onreadystatechange = function()
                {
                    if(xhr.readyState == 4 && xhr.status == 200)
                    {
                        window.location = "/showCode?filename="+JSON.parse(xhr.response).filename;
                    }
                }


                data_send = {
                    content : code,
                    description : description,
                    lang : lang_op.value,
                    tags : tags_send,
                    comments : comments,
                    func : func
                }
                console.log(data_send)
                xhr.send(JSON.stringify(data_send));


            }

            function changeState(event)
            {
                //alert(event.target.getAttribute("class"));
                if(event.target.getAttribute("class") === "btn btn-outline-default waves-effect")
                    event.target.setAttribute("class","btn btn-outline-danger waves-effect");
                else
                    event.target.setAttribute("class","btn btn-outline-default waves-effect");

            }

            function addTags(tag)
            {
                button = document.createElement("button");
                button.setAttribute("class", "btn btn-outline-default waves-effect");

                button.addEventListener('click',changeState, false);

                button.innerHTML = tag;
                tag_holder = document.getElementById("tag_holder");
                tag_holder.append(button);

            }

            function checkTags(event)
            {
                if(event.keyCode == 32)
                {
                    inp = document.getElementById("add_inp").value;
                    change_inp = document.getElementById("add_inp");
                    change_inp.value = '';
                    addTags(inp);
                }
            }

            function showTags(response)
            {
                if(document.getElementById("tag_holder"))
                {
                    return;
                }
                tags=JSON.parse(response).tags;
                comments = JSON.parse(response).comments;
                //alert(comments);
                //alert(tags);
                
                divC = document.createElement("div");
                divC.setAttribute("id","main_comment_holder");
                divC.setAttribute("class","m-2");
                divtitle = document.createElement("h5");
                divtitle.innerHTML = "Add Tags: ";
                

                div = document.createElement("div");
                div.setAttribute("id","tag_holder");
                div.setAttribute("class","p-1 m-2");
                add_ons = document.createElement("div");
                add_ons.setAttribute("id","add_ons");
                add_inp = document.createElement("input");
                add_inp.setAttribute("type","text");
                add_inp.setAttribute("id","add_inp");
                add_inp.addEventListener("keyup",checkTags,false);
                add_ons.append(add_inp);
                div.append(divtitle);
                div.append(add_ons);
                for(var i=0;i<tags.length;i++)
                {
                    button = document.createElement("button");
                    button.setAttribute("class", "btn btn-outline-default waves-effect");

                    button.addEventListener('click',changeState, false);

                    button.innerHTML = tags[i];
                    div.append(button);

                }

                for(var i=0;i<comments.length;i++)
                {
                    // div2 = document.createElement("div");
                    // div2.setAttribute("id","comment_holder"+i);
                    // addC = document.createElement("div");
                    // addC.setAttribute("id","addC");
                    // addC.setAttribute("class","custom-control custom-checkbox");
                    // commD = document.createElement("input");
                    // commD.setAttribute("type","checkbox");
                    // commD.setAttribute("class","custom-control-input");
                    // var idC = "option"+i;
                    // commD.setAttribute("id",idC);
                    // labC = document.createElement("label");
                    // labC.setAttribute("class","custom-control-label");
                    // labC.setAttribute("for",idC);
                    // labC.setAttribute("id","label"+idC);
                    // labC.innerHTML = comments[i];
                    // addC.append(commD);
                    // addC.append(labC);
                    // div2.append(addC);
                    // divC.append(div2);
                    div2 = document.createElement("div");
                    div2.setAttribute("id","comment_holder"+i);
                    addC = document.createElement("div");
                    addC.setAttribute("id","addC"+i);
                    addC.setAttribute("class","card m-1 p-1");
                    commD = document.createElement("input");
                    commD.setAttribute("class","form-control comment");
                    commD.setAttribute("id","commD"+i);
                    comment = comments[i];
                    commD.value = comment[0];
                    lab = document.createElement("h6");
                    lab.setAttribute("for","commD"+i);
                    lab.setAttribute("class","functionName")                    
                    lab.innerHTML = comment[1];
                    but = document.createElement("button");
                    but.setAttribute("type","button");
                    but.setAttribute("class","close");
                    but.style.position = "absolute";
                    but.style.top = "0";
                    but.style.right = "0";
                    spn = document.createElement("span");
                    spn.innerHTML = "x";
                    but.addEventListener("click",changeCommClass,false);
                    but.append(spn);
                    addC.append(lab);
                    addC.append(but);
                    addC.append(commD);
                    div2.append(addC);
                    divC.append(div2);
                }
                if(comments.length==0)
                {
                    i=0
                    div2 = document.createElement("div");
                    div2.setAttribute("id","comment_holder"+i);
                    addC = document.createElement("div");
                    addC.setAttribute("id","addC"+i);
                    addC.setAttribute("class","card m-1 p-1");
                    commD = document.createElement("input");
                    commD.setAttribute("class","form-control comment");
                    commD.setAttribute("id","commD"+i);
                    lab = document.createElement("h5");
                    lab.setAttribute("for","commD"+i);
                    
                    lab.innerHTML = "Add Comment For This Code: ";
                    addC.append(lab);
                    addC.append(commD);
                    div2.append(addC);
                    divC.append(div2);
                }

                submit_button = document.getElementById("submitbtn");
                document.body.insertBefore(div,submit_button);
                document.body.insertBefore(divC,submit_button);
            }

            function changeCommClass(event)
            {
                prt = event.target.parentNode.parentNode;
                labl = prt.getElementsByClassName("functionName");
                console.log(prt);
                labl[0].style.color = "red";
                commt = prt.getElementsByClassName("form-control comment")
                commt[0].setAttribute("class","");
            }

            function pullTags()
            {


                code_cont = myCodeMirror.getDoc().getValue();
                code_type = lang_op.value;

                console.log(code_type);

                if(code_cont!=null)
                {
                    var xhr = new XMLHttpRequest();

                    xhr.open("POST", "http://localhost:5000/getTags", true);
                    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                    xhr.onreadystatechange = function()
                    {
                        if(xhr.readyState == 4 && xhr.status == 200)
                        {
                            showTags(xhr.response);
                        }
                    }

                    code_fin = encodeURIComponent(code_cont)
                    postvars = "content="+code_fin+"&ctype="+code_type;
                    xhr.send(postvars); 
                }

            }





</script>
</body>
</html>
