<!DOCTYPE html>
<html>
<head>
    <title>Intelligent Teaching Assistant</title>
    <!-- Bootstrap core CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="{{ url_for('static',filename = 'js/jquery-3.3.1.min.js')}}"></script>


    <script type="text/javascript" src="{{ url_for('static',filename = 'js/bootstrap.min.js')}}"></script>

    <script src="{{ url_for('static',filename = 'codemirror-5.44.0/lib/codemirror.js')}}"></script>
    <script src="{{ url_for('static',filename = 'codemirror-5.44.0/src/line/highlight.js')}}"></script>
    <script src="{{ url_for('static',filename = 'codemirror-5.44.0/mode/clike/clike.js')}}"></script>
    <link href="{{ url_for('static',filename = 'codemirror-5.44.0/lib/codemirror.css')}}" rel="stylesheet">

    <link href="{{ url_for('static',filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ url_for('static',filename = 'css/mdb.min.css')}}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ url_for('static',filename = 'css/style.css')}}" rel="stylesheet">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/html/html.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/htmlmixed/htmlmixed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/edit/closebrackets.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css"/>

</head>
<body class="mw-100 ">


<nav class="mb-1 navbar sticky-top navbar-expand-lg navbar-dark black lighten-1 ">
    <a class="navbar-brand" href="#">Intelligent Teaching Assistant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/upload">Upload Code</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/"><span class="sr-only">(current)</span>View Codes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">View Profile</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item my-auto">
                <a download="{{description}}" class="nav-link" href="/download?filename={{filename}}">

                    <img height="30px" width="30px" src="{{ url_for('static',filename = 'download.png')}}"
                         class="z-depth-1 my-auto">

                </a>
            </li>
            <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">

                    <span id="userName" style="color:white">{{username}}</span>
                    <img height="30px" width="30px" src="{{ url_for('static',filename = 'user-white.svg')}}"
                         class="rounded-circle z-depth-1" alt="avatar image">
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-secondary p-3 justify-content-center"
                     aria-labelledby="navbarDropdownMenuLink-55">
                    <a class="dropdown-item" href="#">Login Or SignUp</a>
                    <input id="email" class="form-control my-3" placeholder="email" onblur="checkUser()"/>
                    <input type="password" id="passw" class="form-control my-3" placeholder="password"/>
                    <input type="password" id="confirmpassw" style="display:none" class="form-control my-3"
                           placeholder="confirm password"/>
                    <input type="button" id="loginBtn"
                           class="btn btn-dark my-1 mx-1 w-100"
                           value="LOGIN" onclick="loginRequest()">
                           <input type="button" id="logoutBtn" class = "btn btn-outline-dark my-1 mx-1 w-100 text-center" value="LOGOUT" onclick="logoutRequest()">
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->

<div class="scrollbar scrollbar-primary">
    <div class="force-overflow"></div>
</div>

<div class="h-100 container mx-auto mw-100 scrollbar scrollbar-primary">
    <div class="force-overflow row">
        <div class="col-sm-7 px-0">


            {% for function,option_list, func in options %}
            <div id="MCQ" class=" m-3 p-3 card ww-100">
                <h4 class="h4">What does this code do?</h4>
                <textarea class="funcDisplay" cols="25"
                          id="codeTextArea{{loop.index0}}">{{func}}</textarea>
                <br>
                {% for option in option_list %}
                <button class='btn btn-outline-dark waves-effect ' onclick="changeState(event)"
                        id="{{option[1]}}">{{option[0]}}
                </button>
                {% endfor %}
                <!-- <div>
                        <input type="button" id="feedbackBtn" class = "btn btn-dark my-1 mx-1 w-25 text-center" value="FEEDBACK" onclick="showFeedback(event)">
                        <div style="display: none;" id="feedback{{loop.index0}}">
                            <h6 class="text-center">How relevant were the options presented for the question?</h6>
                            <input type="range" id='relevance' class="custom-range dark px-5 my-2" min="1" max="3">
                            <h6 class="text-center">Would you see use these for classroom tests/assignments?</h6>
                            <input type="range" id='usage' class="custom-range dark px-5 my-2" min="1" max="3">
                        </div>
                </div> -->
            </div>
            <h3 class="h3-responsive" id="showRes"></h3>
            </div>
            {% endfor %}

        </div>

        <div class="col-sm-5 float-right sticky px-0 ">
            <div class="row p-0 m-0">
                <div class="col-sm-6">
                    <div class='btn {%if difficulty <= 0%}btn-outline-default {%elif difficulty <= 2.5 %}btn-outline-warning {%else%}btn-outline-danger{% endif %} w-100'>
                        Adaptive Difficulty: {{difficulty}}
                    </div>
                </div>
                <div class="col-sm-6">

                    <button class='btn btn-outline-dark  w-100 'href="#codeTextArea" onclick="viewFullCode()">View Full Code
                    </button>
                </div>
            </div>

            <div class="card card-comments mb-3 wow fadeIn w-100 ">
                <div id="postDetails" class="card-header font-weight-bold sticky w-100">{{rows|length}} posts</div>
                <div id="comment_body" class="card-body  smooth-scroll">
                    {% for item in rows %}
                    <div class="media  d-block d-md-flex mt-4 h-25">
                        <img height="50px" width="50px" class="d-flex mb-3 mx-auto "
                             src="{{ url_for('static',filename = 'user-white.svg')}}" alt="Generic placeholder image">
                        <div class="media-body text-center word-wrap text-md-left ml-md-3 ml-0 w-75 "
                             style="overflow:none">
                            <h5 class="mt-0 font-weight-bold"> {{item[0]}}

                            </h5>
                            {{item[1]}}
                        </div>
                    </div>

                    {% endfor %}
                    <div id="new_comment" class="media d-block d-md-flex mt-4 w-100 h-25">
                        <!-- Default input -->
                        <textarea class="form-control rounded-3 w-100" id="userPost" rows="3"></textarea>

                        <button type="button" class="btn btn-dark" onclick="postIt()">Post</button>
                    </div>

                </div>
            </div>

            <div class="card p-3">
                <h6 class="text-center">How difficult do you rate this code?</h6>

                <input type="range" id='difficulty' class="custom-range dark px-5 my-2" min="1" max="3"
                       id="customRange2">
                <button class="btn btn-dark pull-right w-50" onclick="rate(event)">RATE</button>
            </div>
        </div>

    </div>


</div>
<div class="card p-1 pt-5" id="fullCode" style="display:none">
    <h3 class="text-center my-3"> Full Source Code </h3>
    <textarea id="codeTextArea">{{data}}</textarea>
</div>


<script>



            listOfFunc = document.getElementsByClassName("funcDisplay");
            loopCodeMirror = []
            for(var i=0; i<listOfFunc.length; i++)
            {
                loopCodeMirror.push(CodeMirror.fromTextArea(document.getElementById("codeTextArea"+i.toString()), {
                lineNumbers: true,
                lineWrapping: true,
                mode:  "{{language}}",
                styleActiveLine :true,
                matchBrackets: true,
                indentUnit: 4,
                indentWithTabs: true,
                autoCloseTags: true,
                autoCloseBrackets: true,
                autoRefresh:true,
                readOnly: true,
                autofocus: true
            }));
            //loopCodeMirror[i].getDoc().setValue(document.getElementById("codeTextArea"+i.toString()).innerHTML.replace());
            }

            document.body.scrollTop = document.documentElement.scrollTop = 0;

            function showFeedback(event)
            {
                buttonClicked = event.target;
                showDiv = buttonClicked.nextElementSibling;
                if(showDiv.getAttribute("style")=="display:block")
                {
                    showDiv.setAttribute("style","display:none");
                }
                else
                {
                    showDiv.setAttribute("style","display:block");
                }
            }
            
            function sendAnswer(event)
            {
                document.getElementById("showRes").innerHTML = "";
                ans = document.getElementsByClassName("btn btn-outline-danger waves-effect");
                if(ans.length==0)
                {
                    alert("Please pick an answer!");
                    return;
                }
                else if(ans.length>1)
                {
                    alert("Please pick ONE answer");
                    return;
                }
                else
                {
                    if(ans[0].id=='answer1')
                    {
                        document.getElementById("showRes").innerHTML = "You are CORRECT!";
                        var xhr = new XMLHttpRequest();
                        xhr.open("POST","/addPoints");
                        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        var score_answer = 1;
                        postvars = "addscore="+score_answer;
                        xhr.send(postvars);
                        return;
                    }
                    else
                    {
                        document.getElementById("showRes").innerHTML = "Oops! Wrong Answer. Try again!";
                        return;
                    }
                }
            }

            function changeState(event)
            {
                parent = event.target.parentElement;

                siblings = parent.childNodes
                for(var i=0;i<siblings.length;i++)
                {
                    siblings[i].onclick = function() {
                                             return false;
                                           }
                    if(siblings[i].id == 1)
                        siblings[i].setAttribute( "class", "btn btn-outline-default waves-effect");

                }

                if(event.target.id == 1)
                {
                    event.target.setAttribute( "class", "btn btn-success waves-effect");
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST","/addPoints");
                    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    var score_answer = 1;
                    postvars = "addscore="+score_answer;
                    xhr.send(postvars);
                }
                else
                {
                    event.target.setAttribute( "class", "btn btn-outline-danger waves-effect");

                }
            }

            function postIt()
            {
                post = document.getElementById("userPost");
                addComment(post.value);

                media = document.createElement("div");
                media.setAttribute("class","media d-block d-md-flex mt-4 w-100 h-25");

                img = document.createElement("img");
                img.setAttribute("src","{{ url_for('static',filename = 'user-white.svg')}}");
                img.setAttribute("height","50px");
                img.setAttribute("width","50px");

                media.appendChild(img);

                mediabody = document.createElement("div");
                mediabody.setAttribute("class","media-body text-center text-md-left ml-md-3 ml-0");

                h5 = document.createElement("h5");
                h5.setAttribute("class","mt-0 font-weight-bold");
                h5.innerHTML=document.getElementById("userName").innerHTML;
                mediabody.appendChild(h5);
                
                p = document.createElement("p");
                p.innerHTML = post.value
                mediabody.appendChild(p);

                media.appendChild(mediabody);
                
                new_comment = document.getElementById("new_comment");
                document.getElementById("comment_body").insertBefore(media, new_comment);

                post.value = "";
                postDetails = document.getElementById("postDetails")

                postDetails.innerHTML = String(parseInt(postDetails.innerHTML.split(" ")[0])+1) +" "+ postDetails.innerHTML.split(" ")[1];

            }

            function addComment(comment)
            {
            var xhr = new XMLHttpRequest();

            xhr.open("POST", "http://localhost:5000/putConvos", true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send("filename={{filename}}&id=1&comment="+comment);

           }
           var operation = "signup";

            function loginRequest()
            {
                email = document.getElementById("email").value;
                passw = document.getElementById("passw").value;
                if(operation == "signup")
                    if( passw != document.getElementById("confirmpassw").value )
                    {
                        alert( "passwords do not match" );
                        return;
                    }
                var xhr = new XMLHttpRequest();
                xhr.open("POST","/login");
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function()
                {
                        if(xhr.readyState == 4 && xhr.status == 200 )
                        {
                            if(JSON.parse(xhr.response).auth==true)
                            {
                               document.getElementById("passw").style.background = "white";
                               document.getElementById("passw").value = "";
                               document.getElementById("confirmpassw").value = "";
                               document.getElementById("email").value = "";
                               document.getElementById("codeTextArea").click();
                               document.getElementById("userName").innerHTML = email.split("@")[0];
                               document.location.reload();
                            }
                            else{
                            document.getElementById("passw").style.background = "red";
                            }

                        }
                }
                postvars = "email="+email+"&password="+passw+"&operation="+operation;

                xhr.send(postvars);
            }

            function logoutRequest()
            {
                var xhr = new XMLHttpRequest();
                xhr.open("GET","/logout");
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function()
                {
                        if(xhr.readyState == 4 && xhr.status == 200 )
                        {
                               document.location.reload();
                        }
                }
                xhr.send()
            }

            function checkUser()
            {
                email = document.getElementById("email").value;
                re = /.+@.+\.com/;
                if( !re.test(email) )
                {
                    alert("not a valid email");
                    return;
                }

                var xhr = new XMLHttpRequest();
                xhr.open("POST","/userExists");
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                xhr.onreadystatechange = function()
                {
                        if(xhr.readyState == 4 && xhr.status == 200 )
                        {
                            if(JSON.parse(xhr.response).success>0)
                            {
                                operation = "login";
                                document.getElementById("confirmpassw").style.display = 'none';
                                document.getElementById("loginBtn").setAttribute("value","LOGIN");
                            }
                            else{
                                operation="signup";
                                document.getElementById("confirmpassw").style.display = 'block';
                                document.getElementById("loginBtn").setAttribute("value","SIGN UP");
                            }

                        }
                }
                postvars = "email="+email;

                xhr.send(postvars);


            }

            function rate(event)
            {
                xhr = new XMLHttpRequest();
                xhr.open("POST","/difficulty");
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function()
                {
                    if(xhr.readyState==4 && xhr.status == 200)
                        event.target.innerHTML = "Thanks! Click to change the rating";
                }
                postvars = "difficulty="+document.getElementById('difficulty').value+"&filename={{filename}}";

                xhr.send(postvars);
            }

            function viewFullCode()
            {
                document.getElementById("fullCode").style.display = 'block';

                myCodeMirror = CodeMirror.fromTextArea(document.getElementById("codeTextArea"), {
               lineNumbers: true,
               lineWrapping: true,
                mode:  "text/x-csrc",
                styleActiveLine :true,
                matchBrackets: true,
                indentUnit: 4,
                indentWithTabs: true,
                autoCloseTags: true,
                autoCloseBrackets: true,
            });

            myCodeMirror.setSize("100%","auto");
            //window.location.hash = '#fullCode';

            document.getElementById("fullCode").scrollIntoView();


            }


</script>

</body>
</html>
