<!DOCTYPE html>
<html>
    <head>
    <!-- Bootstrap core CSS -->
    <link href= "{{ url_for('static',filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ url_for('static',filename = 'css/mdb.min.css')}}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ url_for('static',filename = 'css/style.css')}}" rel="stylesheet">
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/html/html.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/htmlmixed/htmlmixed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/edit/closebrackets.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css" />

    </head>
    <body>
            
        <textarea  class="form-control z-depth-1 prettyprint" id="codeTextArea" placeholder="Paste Code Here...">{{data}}</textarea>
        <br>
        <div>
            {% for item in rows %}
                <h6> {{item[0]}}: {{item[1]}} {{filename}} </h6>
            {% endfor %}
        </div>
        <input placeholder="Add Comment Here" onblur="addComment(event)">
        <script>
            myCodeMirror = CodeMirror.fromTextArea(document.getElementById("codeTextArea"), {
               lineNumbers: true,
                mode:  "text/x-csrc",
                styleActiveLine :true,
                matchBrackets: true,
                indentUnit: 4,
                indentWithTabs: true,
                autoCloseTags: true,
                autoCloseBrackets: true,
            });

            function addComment(event)
            {
            var xhr = new XMLHttpRequest();

            xhr.open("POST", "http://localhost:5000/putConvos", true);
             xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send("filename={{filename}}&id=1&user=Milan&comment=test");

           }



        
        </script>
        
    </body>
</html>
