<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ url_for('static',filename = 'css/mdb.min.css')}}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ url_for('static',filename = 'css/style.css')}}" rel="stylesheet">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/html/html.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/htmlmixed/htmlmixed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/edit/closebrackets.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css"/>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark primary-color">
  <a class="navbar-brand" href="#">Intelligent Teaching Assistant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Upload Code</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/showAll">View Codes</a>
      </li>
    </ul>
  </div>
</nav>

<div>
    <div style="position:relative;height:80%">
        <textarea onchange="pasted(event)" i class="form-control z-depth-1 prettyprint" id="codeTextArea"
                  placeholder="Paste Code Here..."></textarea>
    </div>
    <select class="browser-default custom-select" id="lang_op" onchange="changeLang(event)">
        <option selected value="text/x-csrc">C</option>
        <option value="text/x-c++src">C++</option>
        <option value="python">Python</option>
        <option value="text/x-java">Java</option>
        <option value="text/html">HTML</option>
        <option value="javascript">JavaScript</option>
    </select>
    <input id="codeFile" onchange="uploaded(event)" type="file" class="input-group-text"/>
    <input type="button" class="btn btn-info my-4" value="submit"/>
</div>
<script>

            lang_op = document.getElementById("lang_op");

            myCodeMirror = CodeMirror.fromTextArea(document.getElementById("codeTextArea"), {
               lineNumbers: true,
                mode:  "Java",
                styleActiveLine :true,
                matchBrackets: true,
                indentUnit: 4,
                indentWithTabs: true,
                autoCloseTags: true,
                autoCloseBrackets: true,
            });


            function pasted(event)
            {
                if(event.target.value!=null)
                {
                    document.getElementById("codeFile").disabled = true;
                }
            }

            function uploaded(event)
            {
                if(event.target.files!=null)
                {

                    const reader = new FileReader()
                    reader.onload = event => {
                        myCodeMirror.getDoc().setValue(event.target.result);
                    }
                    cont  = reader.readAsText(event.target.files[0]);
                    name = event.target.files[0].name.split(".")[1];
                    switch(name)
                    {
                        case "py":
                            lang_op.value = "python";
                            changeLang();
                            break;
                        case "c":
                            lang_op.value = "text/x-csrc";
                            changeLang();
                            break;
                        case "cpp":
                            lang_op.value = "text/x-c++src";
                            changeLang();
                            break;
                        case "html":
                            lang_op.value = "text/html";
                            changeLang();
                            break;
                        case "java":
                            lang_op.value = "text/x-java";
                            changeLang();
                            break;
                        case "js":
                        case "njs":
                            lang_op.value = "javascript";
                            changeLang();
                            break;
                        
                            
                    }
                }
            }

            function changeLang()
            {
                myCodeMirror.setOption("mode",lang_op.value);
            }

           

</script>
</body>
</html>
