<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap core CSS -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->

    <script src = "{{ url_for('static',filename = 'js/jquery-3.3.1.min.js')}}"></script>
    <script src = "{{ url_for('static',filename = 'js/highcharts.js')}}"></script>

     <script src = "{{ url_for('static',filename = 'codemirror-5.44.0/lib/codemirror.js')}}"></script>
     <script src = "{{ url_for('static',filename = 'codemirror-5.44.0/addon/edit/closebrackets.js')}}"></script>
    <script src = "{{ url_for('static',filename = 'codemirror-5.44.0/src/line/highlight.js')}}"></script>
    <link href="{{ url_for('static',filename = 'codemirror-5.44.0/lib/codemirror.css')}}" rel="stylesheet">

    <script src = "{{ url_for('static',filename = 'codemirror-5.44.0/mode/clike/clike.js')}}"></script>
    <script src = "{{ url_for('static',filename = 'codemirror-5.44.0/mode/htmlmixed/htmlmixed.js')}}"></script>
    <script src = "{{ url_for('static',filename = 'codemirror-5.44.0/mode/python/python.js')}}"></script>
    <script src = "{{ url_for('static',filename = 'codemirror-5.44.0/mode/javascript/javascript.js')}}"></script>
    <script src = "{{ url_for('static',filename = 'codemirror-5.44.0/mode/clike/clike.js')}}"></script>


    <link href="{{ url_for('static',filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static',filename = 'js/bootstrap.min.js')}}" ></script>
    <!-- Material Design Bootstrap -->
    <link href="{{ url_for('static',filename = 'css/mdb.min.css')}}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ url_for('static',filename = 'css/style.css')}}" rel="stylesheet">

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/html/html.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/htmlmixed/htmlmixed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/edit/closebrackets.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css"/>

   <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<title>Intelligent Teaching Assistant</title>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body>
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark black lighten-1">
  <a class="navbar-brand" href="#">Intelligent Teaching Assistant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">

          <li class="nav-item ">
            <a class="nav-link" href="/upload">Upload Code</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">View Codes</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/profile">View Profile</a>
          </li>

    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">

      <li class="nav-item avatar dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
            <span id="userName" style="color:white">{{username}}</span>
          <img height="30px" width = "30px" src="{{ url_for('static',filename = 'user-white.svg')}}" class="rounded-circle z-depth-0" alt="avatar image">
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-secondary p-3 justify-content-center" aria-labelledby="navbarDropdownMenuLink-55">
            <a class="dropdown-item" href="#">Login Or SignUp</a>
            <input id="email" class = "form-control my-3"  placeholder="email" onblur="checkUser()"/>
            <input type="password" id="passw" class = "form-control my-3" placeholder="password"/>
            <input type="password" id="confirmpassw" style="display:none" class = "form-control my-3" placeholder="confirm password"/>
            <input type="button" id="loginBtn" class = "dropdown-item form-control dropdown-toggle btn btn-info my-1 mx-1 w-auto" value="LOGIN" onclick="loginRequest()">
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
<!-- Card -->

<div class = 'row h-50'>

<div class="col-sm-6">
  <div class="card testimonial-card text-center w-50 m-5">

    <!-- Background color -->
    <div class="card-up stylish-color-dark   my-3"></div>
  
    <!-- Avatar -->
    <div class="avatar mx-auto white">
        <img width = "60px" src="{{ url_for('static',filename = 'user-white.svg')}}" class="rounded-circle z-depth-0" alt="avatar image">
    </div>
  
    <!-- Content -->
    <div class="card-body">
      <!-- Name -->
      <h4 class="card-title">{{username}}</h4>
      <hr>
      <!-- Score -->
      <h5>Score : {{score}}</h5>
    </div>
  
  </div>
</div>
<br>

<div class = 'col-sm-6 mt-1' id="container">

</div>
    </div>
<!-- Card -->
<div id="scoreboard" class="px-2 m-2 py-2 card text-center">
  <h3 class="card-title" style="background:black;color:white">SCORE BOARD</h3>
      <div class="row text-center">
              <div class="col-sm-6 card-title h4" >USER</div>
              <div class="col-sm-6 card-title h4">SCORE</div>
      </div>
      {% for item in ranked %}
          <div class="row text-center">
            <div class="col-sm-6">{{item[0]}}</div>
            <div class="col-sm-6">{{item[1]}}</div>
          </div>
      {% endfor %}
</div>
<div id='resources'>
  {% for item in viewed %}
  <a href="/showCode?filename={{item.filename}}">

      <div class = 'px-3 m-2 py-1 card' >
      <div class='row'>
          <div class="col-sm-10"><h5 >{{item.description}}</h5></div>
          <div class="col-sm-2"><h4>{{item.type}}</h4></div>

      </div>
          </div>
  </a>
  {% endfor %}
  </div>



<script>
    function loginRequest()
            {
                email = document.getElementById("email").value;
                passw = document.getElementById("passw").value;

                var xhr = new XMLHttpRequest();
                xhr.open("POST","/login");
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function()
                {
                        if(xhr.readyState == 4 && xhr.status == 200 )
                        {
                            if(JSON.parse(xhr.response).auth==true)
                            {
                            //    document.setCookie("username",email);
                               document.getElementById("passw").style.background = "white";
                               document.getElementById("passw").value = "";
                               document.getElementById("confirmpassw").value = "";
                               document.getElementById("email").value = "";
                               document.getElementById("resources").click();
                               document.getElementById("userName").innerHTML = email.split("@")[0];
                               document.location.reload();

                            }
                            else{
                            document.getElementById("passw").style.background = "red";
                            }

                        }
                }
                postvars = "email="+email+"&password="+passw+"&operation="+operation;

                xhr.send(postvars);

                


            }

    function checkUser()
            {
                email = document.getElementById("email").value;

                var xhr = new XMLHttpRequest();
                xhr.open("POST","/userExists");
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                xhr.onreadystatechange = function()
                {
                        if(xhr.readyState == 4 && xhr.status == 200 )
                        {
                            if(JSON.parse(xhr.response).success>0)
                            {
                                operation = "login";
                                document.getElementById("confirmpassw").style.display = 'none';
                                document.getElementById("loginBtn").setAttribute("value","LOGIN");
                            }
                            else{
                                operation="signup";
                                document.getElementById("confirmpassw").style.display = 'block';
                                document.getElementById("loginBtn").setAttribute("value","SIGN UP");
                            }

                        }
                }
                postvars = "email="+email;

                xhr.send(postvars);


            }

            Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Views By Language'
    },

    plotOptions: {
        pie: {
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Views',
        data: [
        {% for key, value in stats.items() %}
    {
        name:"{{key}}",
        y: {{value}}

        },

        {% endfor %}
        ]
    }]
});
</script>
</body>
</html>
