<!DOCTYPE html>
<html>
<head>
    <title>Intelligent Teaching Assistant</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="{{ url_for('static',filename = 'js/jquery-3.3.1.min.js')}}"></script>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static',filename = 'js/bootstrap.min.js')}}"></script>

    <!-- Material Design Bootstrap -->
    <link href="{{ url_for('static',filename = 'css/mdb.min.css')}}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ url_for('static',filename = 'css/style.css')}}" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark black lighten-1">
    <a class="navbar-brand" href="#">Intelligent Teaching Assistant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/upload">Upload Code</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><span class="sr-only">(current)</span>View Codes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">View Profile</a>
          </li>

        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">

            <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <span id="userName" style="color:white">{{username}}</span>
                    <img height="30px" width="30px" src="{{ url_for('static',filename = 'user-white.svg')}}"
                         class="rounded-circle z-depth-0" alt="avatar image">
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-secondary p-3 justify-content-center"
                     aria-labelledby="navbarDropdownMenuLink-55">
                    <a class="dropdown-item" href="#">Login Or SignUp</a>
                    <input id="email" class="form-control my-3" placeholder="email" onblur="checkUser()"/>
                    <input type="password" id="passw" class="form-control my-3" placeholder="password"/>
                    <input type="password" id="confirmpassw" style="display:none" class="form-control my-3"
                           placeholder="confirm password"/>
                    <input type="button" id="loginBtn"
                           class="dropdown-item form-control dropdown-toggle btn btn-info my-1 mx-1 w-auto"
                           value="LOGIN" onclick="loginRequest()">
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark black lighten-2 mb-4">
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse  w-100" id="navbarSupportedContent">
        <!-- Search form -->
        <form class="form-inline w-100 navbar-nav row">
            <div class="nav-inline-text col-sm-10">
            <div class="md-form my-0 w-100">

                <input class="form-control w-100" type="text"  aria-label="Search" id="search" placeholder="Search"
                       onkeyup="searchCont()"/>
            </div>
            </div>
            <div class="nav-item dropdown col-sm-2">
        <select class="browser-default custom-select" id="lang_op" onchange="searchCont()">
        <option selected value="">All Languages</option>
        <option value="text/x-csrc">C</option>
        <option value="text/x-c++src">C++</option>
        <option value="python">Python</option>
        <option value="text/x-java">Java</option>
        <option value="text/html">HTML</option>
        <option value="javascript">JavaScript</option>
    </select>
                </div>
        </form>
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->


<div id='resources'>
    {% for item in items %}
    <a href="/showCode?filename={{item.filename}}&difficulty={{item.difficulty}}">

        <div class = 'px-3 m-2 py-1 card' >
        <div class='row'>
            <div class="col-sm-10"><h5 >{{item.title}}</h5></div>
            <div class="col-sm-1"><h6>{{item.lang}}</h6></div>
            <div class="col-sm-1"><h5>{{item.difficulty}}</h5></div>

        </div>
            </div>
    </a>
    {% endfor %}
</div>
<script type="text/javascript">
            var operation = "signup";

            function loginRequest()
            {
                email = document.getElementById("email").value;
                passw = document.getElementById("passw").value;

                var xhr = new XMLHttpRequest();
                xhr.open("POST","/login");
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function()
                {
                        if(xhr.readyState == 4 && xhr.status == 200 )
                        {
                            if(JSON.parse(xhr.response).auth==true)
                            {
                               document.getElementById("passw").style.background = "white";
                               document.getElementById("passw").value = "";
                               document.getElementById("confirmpassw").value = "";
                               document.getElementById("email").value = "";
                               document.getElementById("resources").click();
                               document.getElementById("userName").innerHTML = email.split("@")[0];
                               document.location.reload();

                            }
                            else{
                            document.getElementById("passw").style.background = "red";
                            }

                        }
                }
                postvars = "email="+email+"&password="+passw+"&operation="+operation;

                xhr.send(postvars);




            }

            function searchCont()
            {
              inp = document.getElementById('search').value;
              lang = document.getElementById('lang_op').value;
              console.log(lang);

              //if(inp == '')
                //document.getElementById('resources').style.display = 'block'
              //else
                document.getElementById('resources').style.display = 'none';

              var xhr = new XMLHttpRequest();
              xhr.open("POST", "http://localhost:5000/search");
              xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");

              xhr.onreadystatechange = function()
              {
                if(xhr.readyState == 4 && xhr.status == 200 )
                        {
                            results = JSON.parse(xhr.response).files;

                            if(document.getElementById('searchresources'))
                                document.body.removeChild(document.getElementById('searchresources'));


                            resources = document.createElement("div");
                            resources.setAttribute("id","searchresources");

                            for( var i=0; i<results.length ; i++)
                            {
                                a = document.createElement("a");
                                a.setAttribute("href","/showCode?filename="+results[i].filename+"&difficulty="+results[i].difficulty);
                                card = document.createElement("div");
                                card.setAttribute("class","card px-3 m-2 py-1");

                                divcol11 = document.createElement("div")
                                divcol11.setAttribute("class","col-sm-10")

                                divcol1 = document.createElement("div")
                                divcol1.setAttribute("class","col-sm-1")

                                 divcol2 = document.createElement("div")
                                divcol2.setAttribute("class","col-sm-1")

                                h5 = document.createElement("h5");
                                h5.innerHTML = results[i].title;

                                h5d = document.createElement("h5");
                                h5d.innerHTML = results[i].difficulty;

                                h5l = document.createElement("h6");
                                h5l.innerHTML = results[i].lang;

                                divcol11.appendChild(h5);
                                divcol1.appendChild(h5l);
                                divcol2.appendChild(h5d);

                                row = document.createElement("div");
                                row.setAttribute("class","row");

                                row.appendChild(divcol11)
                                row.appendChild(divcol1)
                                row.appendChild(divcol2)

                                card.appendChild(row);

                                a.appendChild(card);
                                resources.appendChild(a);
                            }

                            document.body.appendChild(resources);


                            console.log(results);
                            
                        }
              }

              xhr.send("searchTerms="+inp+"&lang="+lang);
            }



            function checkUser()
            {
                email = document.getElementById("email").value;

                var xhr = new XMLHttpRequest();
                xhr.open("POST","/userExists");
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                xhr.onreadystatechange = function()
                {
                        if(xhr.readyState == 4 && xhr.status == 200 )
                        {
                            if(JSON.parse(xhr.response).success>0)
                            {
                                operation = "login";
                                document.getElementById("confirmpassw").style.display = 'none';
                                document.getElementById("loginBtn").setAttribute("value","LOGIN");
                            }
                            else{
                                operation="signup";
                                document.getElementById("confirmpassw").style.display = 'block';
                                document.getElementById("loginBtn").setAttribute("value","SIGN UP");
                            }

                        }
                }
                postvars = "email="+email;

                xhr.send(postvars);


            }



</script>


</body>
</html>
